{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>
            Citizen's Hive
        </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/search_caregivers.css' %}">
        <script type="text/javascript" src="{% static 'javascript/search_caregivers.js' %}">
        </script>  -->
    </head>

    <body>

        
        <h1>Caregiver details page visible to seniors</h1>
        <h2>
            Name: {{ caregiver.name }}
            Id: {{ caregiver.id }}
            Email: {{ caregiver.email }}
        </h2>

    </body>
</html>